flows (6).json
[
    {
        "id": "ea4982f4f2256a14",
        "type": "tab",
        "label": "Final Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc6c253dbed13f79",
        "type": "inject",
        "z": "ea4982f4f2256a14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "01a77fecbe173bd3",
                "7a8eb37da4de5f15",
                "910107898b080d9e"
            ]
        ]
    },
    {
        "id": "01a77fecbe173bd3",
        "type": "rpi-dht22",
        "z": "ea4982f4f2256a14",
        "name": "DHT11",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "18",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "7d8738b06c84feb2",
                "06f07550efdc1f40",
                "dfd75ad22ed8395a"
            ]
        ]
    },
    {
        "id": "7d8738b06c84feb2",
        "type": "debug",
        "z": "ea4982f4f2256a14",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "06f07550efdc1f40",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Temp",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "da79b1e4550e89d9"
            ]
        ]
    },
    {
        "id": "dfd75ad22ed8395a",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Humid",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "103e4a628e56531b"
            ]
        ]
    },
    {
        "id": "da79b1e4550e89d9",
        "type": "ui_gauge",
        "z": "ea4982f4f2256a14",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Degrees (C)",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "103e4a628e56531b",
        "type": "ui_gauge",
        "z": "ea4982f4f2256a14",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "7a8eb37da4de5f15",
        "type": "Bh1750",
        "z": "ea4982f4f2256a14",
        "name": "Light Sensor",
        "bus": "1",
        "address": "0x23",
        "topic": "",
        "readMode": "0x10",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "b0a56c6ed3fea29b"
            ]
        ]
    },
    {
        "id": "b0a56c6ed3fea29b",
        "type": "ui_text",
        "z": "ea4982f4f2256a14",
        "group": "59b939da259ad33f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "910107898b080d9e",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Time",
        "func": "var d = new Date();\nvar _resultDate = d.toLocaleTimeString();\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "b3493ee05e3fa9f7"
            ]
        ]
    },
    {
        "id": "b3493ee05e3fa9f7",
        "type": "ui_text",
        "z": "ea4982f4f2256a14",
        "group": "59b939da259ad33f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "23663f920297de6e",
        "type": "remote-access",
        "z": "ea4982f4f2256a14",
        "confignode": "eacc38366cbe972a",
        "name": "",
        "verbose": 0,
        "x": 1020,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6d438f23cc13766",
        "type": "ui_button",
        "z": "ea4982f4f2256a14",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Predict Weather",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "76fda55a3e95eaa8"
            ]
        ]
    },
    {
        "id": "76fda55a3e95eaa8",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Hour",
        "func": "var d = new Date();\nvar _resultDate = d.getHours().toString()\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 760,
        "wires": [
            [
                "471f7b24527a5096"
            ]
        ]
    },
    {
        "id": "471f7b24527a5096",
        "type": "switch",
        "z": "ea4982f4f2256a14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "12",
                "vt": "num",
                "v2": "16",
                "v2t": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 830,
        "y": 760,
        "wires": [
            [
                "82bc1dc2ecd71c82"
            ],
            [
                "8f35ee8e48c59b39"
            ],
            [
                "f11dc0cbfd992ed3"
            ],
            [
                "316b265b2b3aadac"
            ]
        ]
    },
    {
        "id": "f11dc0cbfd992ed3",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Minute",
        "func": "var d = new Date();\nvar _resultDate = d.toLocaleTimeString([], {minute: '2-digit'});\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 820,
        "wires": [
            [
                "894e01f88d0aa4bd"
            ]
        ]
    },
    {
        "id": "fc87b0ed451070f1",
        "type": "switch",
        "z": "ea4982f4f2256a14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "316b265b2b3aadac"
            ],
            [
                "82bc1dc2ecd71c82"
            ]
        ]
    },
    {
        "id": "894e01f88d0aa4bd",
        "type": "switch",
        "z": "ea4982f4f2256a14",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "82bc1dc2ecd71c82"
            ],
            [
                "316b265b2b3aadac"
            ]
        ]
    },
    {
        "id": "316b265b2b3aadac",
        "type": "ui_toast",
        "z": "ea4982f4f2256a14",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error, cannot predict weather values for this time of the day",
        "name": "Out Of Range For Time",
        "x": 1430,
        "y": 700,
        "wires": []
    },
    {
        "id": "2f46549703c86f58",
        "type": "ui_dropdown",
        "z": "ea4982f4f2256a14",
        "name": "",
        "label": "Choose Hour",
        "tooltip": "",
        "place": "Select option",
        "group": "59b939da259ad33f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "12 PM",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1 PM",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2 PM",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3 PM",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4 PM",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5 PM",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "0f075eca5f31928d"
            ]
        ]
    },
    {
        "id": "82bc1dc2ecd71c82",
        "type": "exec",
        "z": "ea4982f4f2256a14",
        "command": "source env/bin/activate && python3 ML.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1480,
        "y": 820,
        "wires": [
            [
                "888306fdfbda842a"
            ],
            [
                "986782682788ec69"
            ],
            []
        ]
    },
    {
        "id": "888306fdfbda842a",
        "type": "split",
        "z": "ea4982f4f2256a14",
        "name": "",
        "splt": "]",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1770,
        "y": 820,
        "wires": [
            [
                "cb79d0f198f70bb8"
            ]
        ]
    },
    {
        "id": "e482ebc33563eab5",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Eliminate Empty String",
        "func": "try\n{\n    var string = \"[\";\n    string = string + msg.payload + \"]\";\n    var v = JSON.parse(string);\n    msg.payload = v;\n    if (v.length == 6)\n    {\n        var hour = global.get(\"CHour\");\n        hour = parseInt(hour);\n        msg.payload = v[hour];\n        return msg;\n    }\n}\ncatch\n{\n    msg.payload = \"FAIL\";\n    return msg;\n}\n// if (msg.payload != \" \" && msg.payload != \"\" && msg.payload != \"\")\n// {\n//     return msg;\n// }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 820,
        "wires": [
            [
                "d41cf3e87fa34ca6"
            ]
        ]
    },
    {
        "id": "cb79d0f198f70bb8",
        "type": "split",
        "z": "ea4982f4f2256a14",
        "name": "",
        "splt": "[",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1910,
        "y": 820,
        "wires": [
            [
                "e482ebc33563eab5"
            ]
        ]
    },
    {
        "id": "d41cf3e87fa34ca6",
        "type": "join",
        "z": "ea4982f4f2256a14",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2310,
        "y": 820,
        "wires": [
            [
                "8967606493e434e6",
                "fd167582d29f977b",
                "cc77a73fe52ba971"
            ]
        ]
    },
    {
        "id": "0f075eca5f31928d",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Choose Hour",
        "func": "global.set(\"CHour\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 760,
        "wires": [
            [
                "f6d438f23cc13766"
            ]
        ]
    },
    {
        "id": "8967606493e434e6",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Light Intensity",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 740,
        "wires": [
            [
                "b92ac46636dff08a"
            ]
        ]
    },
    {
        "id": "fd167582d29f977b",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Humidity",
        "func": "msg.payload = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2490,
        "y": 820,
        "wires": [
            [
                "232f1981e070a309",
                "30a6627897427244"
            ]
        ]
    },
    {
        "id": "cc77a73fe52ba971",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Temperature",
        "func": "msg.payload = msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 980,
        "wires": [
            [
                "a243c619ef35deb8",
                "88abd5b8b1dc310e"
            ]
        ]
    },
    {
        "id": "b92ac46636dff08a",
        "type": "ui_text",
        "z": "ea4982f4f2256a14",
        "group": "59b939da259ad33f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Predicted Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2810,
        "y": 740,
        "wires": []
    },
    {
        "id": "232f1981e070a309",
        "type": "ui_gauge",
        "z": "ea4982f4f2256a14",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Humidity",
        "label": "Percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2790,
        "y": 820,
        "wires": []
    },
    {
        "id": "a243c619ef35deb8",
        "type": "ui_gauge",
        "z": "ea4982f4f2256a14",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Temperature",
        "label": "Degrees (C)",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2800,
        "y": 980,
        "wires": []
    },
    {
        "id": "ccbe29a4d4920692",
        "type": "ui_toast",
        "z": "ea4982f4f2256a14",
        "position": "top right",
        "displayTime": "5",
        "highlight": "Blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
        "name": "Sensor Error Notification",
        "x": 1990,
        "y": 640,
        "wires": []
    },
    {
        "id": "986782682788ec69",
        "type": "change",
        "z": "ea4982f4f2256a14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Payload",
                "pt": "msg",
                "to": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Label",
                "pt": "msg",
                "to": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "ccbe29a4d4920692"
            ]
        ]
    },
    {
        "id": "88abd5b8b1dc310e",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Temp LED",
        "func": "var temp = msg.payload;\ntemp = temp * 2;\ntemp = Math.round(temp);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2770,
        "y": 1060,
        "wires": [
            [
                "9acb397a833f6435"
            ]
        ]
    },
    {
        "id": "9acb397a833f6435",
        "type": "rpi-gpio out",
        "z": "ea4982f4f2256a14",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 2980,
        "y": 1060,
        "wires": []
    },
    {
        "id": "30a6627897427244",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Humid LED",
        "func": "msg.payload = Math.round(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2770,
        "y": 900,
        "wires": [
            [
                "c19a4be6cb96808c"
            ]
        ]
    },
    {
        "id": "c19a4be6cb96808c",
        "type": "rpi-gpio out",
        "z": "ea4982f4f2256a14",
        "name": "",
        "pin": "24",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 2980,
        "y": 900,
        "wires": []
    },
    {
        "id": "8f35ee8e48c59b39",
        "type": "function",
        "z": "ea4982f4f2256a14",
        "name": "Get Minute",
        "func": "var d = new Date();\nvar _resultDate = d.toLocaleTimeString([], {minute: '2-digit'});\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 700,
        "wires": [
            [
                "fc87b0ed451070f1"
            ]
        ]
    },
    {
        "id": "bd9eae0a4925349a",
        "type": "inject",
        "z": "ea4982f4f2256a14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1490,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "59b939da259ad33f",
        "type": "ui_group",
        "name": "Default",
        "tab": "9b9587f32630d8e2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eacc38366cbe972a",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "byal56wlco84rjwta278z38jfkfzjprx1nbjlim9lmx7jcn3ljb3whqr5cxp326x",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "9b9587f32630d8e2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]