flows (1).json
[
    {
        "id": "0caf29687ed00774",
        "type": "tab",
        "label": "Test Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c41ed18cdd9f7d7",
        "type": "inject",
        "z": "0caf29687ed00774",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "9e9a13422f1e8f18",
                "1ec7593c8be65f1e",
                "3acecacfd53f1b46"
            ]
        ]
    },
    {
        "id": "9e9a13422f1e8f18",
        "type": "rpi-dht22",
        "z": "0caf29687ed00774",
        "name": "DHT11",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "18",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "4c92ca611a81b738",
                "da77173022e2e2c4",
                "f95b46e30f699d5d"
            ]
        ]
    },
    {
        "id": "4c92ca611a81b738",
        "type": "debug",
        "z": "0caf29687ed00774",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "da77173022e2e2c4",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Temp",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "2eb286cbc9b2a10c"
            ]
        ]
    },
    {
        "id": "f95b46e30f699d5d",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Humid",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 340,
        "wires": [
            [
                "7753abedf122094f"
            ]
        ]
    },
    {
        "id": "2eb286cbc9b2a10c",
        "type": "ui_gauge",
        "z": "0caf29687ed00774",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Degrees (C)",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "7753abedf122094f",
        "type": "ui_gauge",
        "z": "0caf29687ed00774",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "1ec7593c8be65f1e",
        "type": "Bh1750",
        "z": "0caf29687ed00774",
        "name": "Light Sensor",
        "bus": "1",
        "address": "0x23",
        "topic": "",
        "readMode": "0x10",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "dadbfe2e0d2d9698"
            ]
        ]
    },
    {
        "id": "dadbfe2e0d2d9698",
        "type": "ui_text",
        "z": "0caf29687ed00774",
        "group": "59b939da259ad33f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "3acecacfd53f1b46",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Time",
        "func": "var d = new Date();\nvar _resultDate = d.toLocaleTimeString();\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "2332743f568950c5"
            ]
        ]
    },
    {
        "id": "2332743f568950c5",
        "type": "ui_text",
        "z": "0caf29687ed00774",
        "group": "59b939da259ad33f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "d2ec45c1b6891254",
        "type": "remote-access",
        "z": "0caf29687ed00774",
        "confignode": "eacc38366cbe972a",
        "name": "",
        "verbose": 0,
        "x": 1020,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d8b14a18d4f742cb",
        "type": "ui_button",
        "z": "0caf29687ed00774",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Predict Weather",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "7fa5e98f9b28a0cb",
                "ad545941bc487dd2"
            ]
        ]
    },
    {
        "id": "7fa5e98f9b28a0cb",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Hour",
        "func": "var d = new Date();\nvar _resultDate = d.getHours().toString()\nmsg.payload = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 720,
        "wires": [
            [
                "f9dccae92511b405"
            ]
        ]
    },
    {
        "id": "f9dccae92511b405",
        "type": "switch",
        "z": "0caf29687ed00774",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "12",
                "vt": "num",
                "v2": "16",
                "v2t": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "13",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 930,
        "y": 760,
        "wires": [
            [
                "00982dde859af24e"
            ],
            [
                "dc99a14c31c87f93"
            ],
            [
                "d80bdf32fec5a06a"
            ],
            [
                "751a26752bbcab42"
            ]
        ]
    },
    {
        "id": "ad545941bc487dd2",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Minute",
        "func": "var d = new Date();\nvar _resultDate = d.toLocaleTimeString([], {minute: '2-digit'});\nmsg.payload = _resultDate;\nlet Minute = _resultDate;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 800,
        "wires": [
            [
                "dc99a14c31c87f93",
                "d80bdf32fec5a06a"
            ]
        ]
    },
    {
        "id": "dc99a14c31c87f93",
        "type": "switch",
        "z": "0caf29687ed00774",
        "name": "",
        "property": "Minute",
        "propertyType": "global",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "751a26752bbcab42"
            ],
            [
                "00982dde859af24e"
            ]
        ]
    },
    {
        "id": "d80bdf32fec5a06a",
        "type": "switch",
        "z": "0caf29687ed00774",
        "name": "",
        "property": "Minute",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "00982dde859af24e"
            ],
            [
                "751a26752bbcab42"
            ]
        ]
    },
    {
        "id": "751a26752bbcab42",
        "type": "ui_toast",
        "z": "0caf29687ed00774",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error, cannot predict weather values for this time of the day",
        "name": "Out Of Range For Time",
        "x": 1430,
        "y": 700,
        "wires": []
    },
    {
        "id": "ba090fab6b73e354",
        "type": "inject",
        "z": "0caf29687ed00774",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Minute",
        "payloadType": "global",
        "x": 530,
        "y": 840,
        "wires": [
            [
                "ad545941bc487dd2"
            ]
        ]
    },
    {
        "id": "1c5e48d841920245",
        "type": "ui_dropdown",
        "z": "0caf29687ed00774",
        "name": "",
        "label": "Choose Hour",
        "tooltip": "",
        "place": "Select option",
        "group": "59b939da259ad33f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "12 PM",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1 PM",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2 PM",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3 PM",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4 PM",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5 PM",
                "value": "5",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "ef30f1477861e01b"
            ]
        ]
    },
    {
        "id": "00982dde859af24e",
        "type": "exec",
        "z": "0caf29687ed00774",
        "command": "source env/bin/activate && python3 ML.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1480,
        "y": 820,
        "wires": [
            [
                "44ebce8f2aec61c1"
            ],
            [
                "9ad8b50f978a1042"
            ],
            []
        ]
    },
    {
        "id": "44ebce8f2aec61c1",
        "type": "split",
        "z": "0caf29687ed00774",
        "name": "",
        "splt": "]",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": true,
        "addname": "",
        "x": 1770,
        "y": 820,
        "wires": [
            [
                "38b793b07ef4cfc6"
            ]
        ]
    },
    {
        "id": "e330a1938f38c650",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Eliminate Empty String",
        "func": "try\n{\n    var string = \"[\";\n    string = string + msg.payload + \"]\";\n    var v = JSON.parse(string);\n    msg.payload = v;\n    if (v.length == 6)\n    {\n        var hour = global.get(\"CHour\");\n        hour = parseInt(hour);\n        msg.payload = v[hour];\n        return msg;\n    }\n}\ncatch\n{\n    msg.payload = \"FAIL\";\n    return msg;\n}\n// if (msg.payload != \" \" && msg.payload != \"\" && msg.payload != \"\")\n// {\n//     return msg;\n// }",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 820,
        "wires": [
            [
                "c2de9ccec5d1db0c"
            ]
        ]
    },
    {
        "id": "38b793b07ef4cfc6",
        "type": "split",
        "z": "0caf29687ed00774",
        "name": "",
        "splt": "[",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1910,
        "y": 820,
        "wires": [
            [
                "e330a1938f38c650"
            ]
        ]
    },
    {
        "id": "c2de9ccec5d1db0c",
        "type": "join",
        "z": "0caf29687ed00774",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2310,
        "y": 820,
        "wires": [
            [
                "7e9d552989f8afc9",
                "7edde651d46073a5",
                "a20bcf1cbb4f14e4"
            ]
        ]
    },
    {
        "id": "ef30f1477861e01b",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Choose Hour",
        "func": "global.set(\"CHour\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 760,
        "wires": [
            [
                "d8b14a18d4f742cb"
            ]
        ]
    },
    {
        "id": "7e9d552989f8afc9",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Light Intensity",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 740,
        "wires": [
            [
                "11b8541c4f08ad41"
            ]
        ]
    },
    {
        "id": "7edde651d46073a5",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Humidity",
        "func": "msg.payload = msg.payload[1];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2490,
        "y": 820,
        "wires": [
            [
                "53523d15d6241e11",
                "53698b25866f981b"
            ]
        ]
    },
    {
        "id": "a20bcf1cbb4f14e4",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Get Temperature",
        "func": "msg.payload = msg.payload[2];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 980,
        "wires": [
            [
                "2292aab6fe73c599",
                "541aeb6ec676e5e3"
            ]
        ]
    },
    {
        "id": "11b8541c4f08ad41",
        "type": "ui_text",
        "z": "0caf29687ed00774",
        "group": "59b939da259ad33f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Predicted Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2810,
        "y": 740,
        "wires": []
    },
    {
        "id": "53523d15d6241e11",
        "type": "ui_gauge",
        "z": "0caf29687ed00774",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Humidity",
        "label": "Percent",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2790,
        "y": 820,
        "wires": []
    },
    {
        "id": "2292aab6fe73c599",
        "type": "ui_gauge",
        "z": "0caf29687ed00774",
        "name": "",
        "group": "59b939da259ad33f",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Predicted Temperature",
        "label": "Degrees (C)",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2800,
        "y": 980,
        "wires": []
    },
    {
        "id": "49106f526c4e4541",
        "type": "ui_toast",
        "z": "0caf29687ed00774",
        "position": "top right",
        "displayTime": "5",
        "highlight": "Blue",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
        "name": "Sensor Error Notification",
        "x": 1990,
        "y": 640,
        "wires": []
    },
    {
        "id": "9ad8b50f978a1042",
        "type": "change",
        "z": "0caf29687ed00774",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Payload",
                "pt": "msg",
                "to": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "Label",
                "pt": "msg",
                "to": "Error, the scanning for one of the sensors went wrong, please press the button to retry",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "49106f526c4e4541"
            ]
        ]
    },
    {
        "id": "541aeb6ec676e5e3",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Temp LED",
        "func": "var temp = msg.payload;\ntemp = temp * 2;\ntemp = Math.round(temp);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2770,
        "y": 1060,
        "wires": [
            [
                "8fdcd8a38fd0ae73"
            ]
        ]
    },
    {
        "id": "8fdcd8a38fd0ae73",
        "type": "rpi-gpio out",
        "z": "0caf29687ed00774",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 2980,
        "y": 1060,
        "wires": []
    },
    {
        "id": "53698b25866f981b",
        "type": "function",
        "z": "0caf29687ed00774",
        "name": "Humid LED",
        "func": "msg.payload = Math.round(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2770,
        "y": 900,
        "wires": [
            [
                "436b90807ecb58d5"
            ]
        ]
    },
    {
        "id": "436b90807ecb58d5",
        "type": "rpi-gpio out",
        "z": "0caf29687ed00774",
        "name": "",
        "pin": "24",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 2980,
        "y": 900,
        "wires": []
    },
    {
        "id": "59b939da259ad33f",
        "type": "ui_group",
        "name": "Default",
        "tab": "9b9587f32630d8e2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eacc38366cbe972a",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "byal56wlco84rjwta278z38jfkfzjprx1nbjlim9lmx7jcn3ljb3whqr5cxp326x",
        "server": "nodered03.remote-red.com",
        "region": "us"
    },
    {
        "id": "9b9587f32630d8e2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]